* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.cont {
  position: absolute;
  width: 300px;
  height:300px;
}

.cont div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: animate 6s linear infinite;
  transform: rotateX(-20deg) rotateY(25deg);
}
@keyframes animate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}

.cont .moon span {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--clr);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  transform-style: preserve-3d;
  transition: 0.5s;
}
.cont:hover .moon span {
  background: transparent;
  border: 10px solid #e056fd ;   
  filter: drop-shadow(#e056fd);
}
.cont .moon span.top {
  transform: rotateX(90deg) translateZ(150px);
}
.cont .moon span.top::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateZ(-350px);
  background: rgba(0, 0, 0, 0.5);
  filter: blur(50px);
}

.cont2{

        position: absolute;
        width:300px;
        height:300px;
        top:51%;
        left:50%;
        transform: translate(-50%,-400px);
      }
      
      .cont2 div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        animation: animate2 6s linear infinite;
        transform: rotateX(-20deg) rotateY(25deg);
        scale: 0.5;
      }
      @keyframes animate2 {
        0% {
          transform: rotateX(-20deg) rotateY(0deg);
        }
        100% {
          transform: rotateX(-20deg) rotateY(360deg);
        }
      }
      
      .cont2 .moon span {
        position: absolute;
        top:80px;
        width:300px;
        height:300px;
        background: var( --clr);
        transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
        transform-style: preserve-3d;
        transition:0.5s;
      }
      .cont:hover ~ .cont2 .moon span {
        background: transparent;
        border: 10px solid #e056fd;
        filter: drop-shadow(0 0 20px #e056fd);
      }
      .cont2 .moon span.top {
        transform: rotateX(90deg) translateZ(150px);
      }
      .cont2 .moon span.top::before {
        content: "";
        position: absolute;
        inset: 0;
        transform: translateZ(-350px);
        background: rgba(0,0,0,0.35);
        filter: blur(50px);
      }






